<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>  
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/"><%= home %></a></li>
          <li><a href="/about"><%= about %></a></li>
          <li><a href="/projects"><%= projects %></a></li>
          <li><a href="#"><%= service %></a></li>
          <li><a href="#"><%= contact %></a></li>
        </ul>
      </div>
    </nav>
      <p class=" pagination justify-content-center" font-weight ="bold">
     
      <h1 class="text-warning text-lg-center ">HI!</h1>
     <h1 class="text-warning "> I'm Aruna Ravi Kumar </h1>
     <img src="/images/me.jpeg" class="img-circle" width="450"  height="600">
     <h1 class="text-warning ">Professionally I'm Software Developer.  </h1>
        <h1 class="text-warning ">    Currently enrolled in Software Engineering Technology Advance diploma.  </h1>
     <h1 class="text-warning ">Cureently open to work for my Co op work term.</h1>
     <h1 class="text-warning "> U can download my resume here <a href="#">Resume </a>  </h1>
</p>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>