<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>  
  <body >
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><a href="/"><%= home %></a></li>
          <li><a href="/about"><%= about %></a></li>
          <li ><a href="/projects"><%= projects %></a></li>
          <li><a href="/service"><%= service %></a></li>
          <li class="active"><a href="/contact"><%= contact %></a></li>
        </ul>
      </div>
    </nav>
      <p class=" pagination justify-content-center" font-weight ="bold">
     
     <h1 class="text-white text-warning text-lg-center">Fill out the form to Contact Me:</h1><br><br>
     <form action="/action_page.php" class="was-validated" >
        <div class="form-group">
          <label class="text-white" for="fname">First Name:</label> <br>
          <input type="text"  id="fname"  name="fname" required>          
        </div>
        <div class="form-group text-white">
            <label for="lname">Last Name:</label><br>
            <input type="text"  id="lname"  name="lname" required>
           
        </div>
        <div class="form-group text-white">
            <label for="contactNum">Contact Number:</label><br>
            <input type="tel" id="contactNum"  name="contactNum" required>
           
        </div>
        <div class="form-group text-white">
            <label for="email">Email:</label><br>
            <input type="tel" id="email"  name="email" required>
            
        </div>
        <div class="form-group text-white">
            <label for="message">Message:</label><br>
            <textarea rows="4" cols="40" name="comment">
                </textarea>
           
        </div>
        
        <button type="submit" class="btn btn-primary ">Submit</button>
      </form>
</p>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>